flask
transformers
langchain
pdf2image
easyocr
googletrans==4.0.0-rc1

PyPDF2
pypdf
langchain-community
accelerate>=0.26.0

torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

